@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Learn About Me!";
}

<!--Creator: Crystal Hwang-->

<div class="container" style="background-color:darkcyan; padding-bottom: 5px">
    <!--Styling for the header-->
    <h1>Crystal Hwang</h1>
</div>
<div class="container" style="padding-top:15px; padding-bottom: 5px">
    <!--Styling for the image-->
    <img src="img/IMG_4078_Original.jpg" />
</div>
<div class="container">
    <!--Paragraph on what I hope to get out of IS413-->
    <p>
        In IS 413, I hope to improve my coding skills and to develop a better relationship with it. Programming isn't my most favorite thing to do in my
        freetime and I think it's because it takes me a bit to pick up on the syntax and the concepts. I hope to improve that this semester and to learn
        how to be a better developer.
    </p>
</div>
<div class="container">
    <!--UL of jobs/fields I'm interested in-->
    <h2>Jobs I'm Interested In</h2>
    <ul>
        <li>1. NFL: Sports Analytics</li>
        <li>2. Cybersecurity</li>
        <li>3. Data Analytics</li>
    </ul>
</div>
