head {
    margin-left: 0px;
    margin-right: 0px;
}
body {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    padding-bottom: 30px;
}

img {
    height : 250px;
    width : 350px;
}
